<% content_for :javascript_includes do %>
  <%= javascript_include_tag "movies.js" %>
<% end %>
<div class="container moviecontainer">
<div class="page-header">
<div class="panel-group" id="submit_movie" role="tablist" aria-multiselectable="true">
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingOne">
      <h4 class="panel-title">
        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#submit_movie" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          Submit a movie</a>
        </a>
      </h4>
    </div>
    <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
      <div class="panel-body">
<% if user_signed_in? %>

<%= form_for :movie, url: 'movies#create', method: "post", html: { class: "form-inline" } do |f| %>
  <div class="form-group">
    <%= f.label :title %>
    <div class="input-group">
        <%= f.text_field :title, class: "form-control" %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :year %>
    <div class="input-group">
        <%= f.text_field :year, class: "form-control" %>
    </div>
  </div>
  <%= f.submit %>
<% end %>
<% else %>
    You need to <%= link_to('register first', new_user_registration_path)  %>.
If you already have an account, <%= link_to('sign in here', new_user_session_path)  %>.
<% end %>
      </div>
    </div>
  </div>
</div>

<h1>Latest movies</h1>
</div>

<p>Find me in app/views/movies/index.html.erb</p>
</div>
